div {
  background-color: #202a44;
}

.App {
  text-align: center;
}

.testslider-card {
  align-items: center;
  justify-content: center;
  height: auto;
  flex: auto;
  background-color: #202a44;
  background-size: auto;
}

.padding-card {
  padding: 0;
  margin: 0;
  padding-left: 60px;
  padding-top: 10px;
  background-color: #202a44;
  width: 100%;
}

.title {
  font-size: auto;
  font-weight: auto;
  height: 1;
}

.titleMovie {
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-weight: lighter;
  height: 60px;
  padding: 10px;
  background-color: #202a44;
}

.titleRating {
  color: crimson;
  align-items: center;
  justify-content: center;
  font-style: oblique;
  font-weight: bolder;
  height: 60px;
  padding: 10px;
  background-color: #202a44;
}

h1 {
  color: wheat;
}

h4 {
  color: wheat;
  font-family: Poppins;
}

.popular {
  align-items: center;
  justify-content: center;
  height: auto;
  flex: auto;
  background-color: #202a44;
  background-size: auto;
}

.movieWrapper {
  color: wheat;
}

.movieImage {
  height: 400;
  background-color: black;
  margin: 5px;
  padding: 5px;
}

.images {
  height: 400px;
}

.card-layout {
  height: 700;
}

.Movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Movie-wrapper {
  width: auto;
  background-color: #202a44;
  color: #202a44;
}

.Movie-search {
  height: 20px;
  width: auto;
  text-align: center;
  font-size: 12px;
  margin-bottom: 32px;
  padding: 16px;
  font-weight: bold;
}
